html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,*::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: $Josefin;
    max-width: 43.75rem;
    margin: auto;
}

li {
    list-style: none;
}

button, input[type='checkbox'] {
    cursor: pointer;
    border: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.selected {
    border-bottom: 2px $DeepPink solid;
    margin-bottom: -2px;
}


